body {
  background-color: #222;
  color: #ccc;
}
div.wrap {
  width: 800px;
  margin: 0 auto;
}
table {
  width: 100%;
}
td {
  font-size: 1em;
  border: 1px solid #ccc;
}
td.eng, td.bng, td.translate {
  width: 20%;
  padding: 1.5em;
  text-transform: capitalize;
}
td.translate, td.search {
  width: 10%;
  text-align: center;
}
.show {
  /* float: right; */
  /* text-align: center; */
  cursor: pointer;
}
.popup{
  /* width: 400px; */
  margin-bottom: 20px;
  border: #ccc 1px solid;
  padding: 1em;
  text-align: center;
}
input{
  padding: 4px;
  margin: 4px 0;
  border: #ccc 1px solid;
  color: #ccc;
  background-color: #222;
}
.search a{
  color: #ccc;
}
@media screen and (max-width: 767px) {
  div.wrap {
    width: 100%;
  }
  td.eng, td.bng, td.translate {
    padding: 0.5em;
  }
}